<div class="header">
  <div class="left">
    <a class="navbar-brand" routerLink="#">
      <img src="../../assets/logos/logo.png" alt="" style="height: 3rem" />
      <strong class="hello-1">SoftwareM4</strong>
    </a>
    <!-- <button class="mobile-menu" type="button">
      <i class="bi bi-list"></i>
    </button> -->
  </div>

  <div class="center" id="center">
    <ul class="menu">
      <li class="item">
        <a class="link" routerLink="/">Home</a>
      </li>
      <li class="item">
        <a class="link" routerLink="/about-us">About</a>
      </li>
      <li class="item">
        <a class="link" routerLink="/service">Services</a>
      </li>
      <li class="item">
        <a class="link" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
  <div class="right">
    <ul class="social">
      <li class="list-social">
        <div class="fb">
          <a
            routerLink="https://www.facebook.com"
            target="_blank"
            class="nav-link"
          >
            <i class="bi bi-facebook" style="font-size: 2rem"></i>
          </a>
        </div>
      </li>
      <li class="list-social">
        <div class="fb">
          <a
            routerLink="https://www.twitter.com"
            target="_blank"
            class="nav-link"
          >
            <i class="bi bi-twitter" style="font-size: 2rem"></i>
          </a>
        </div>
      </li>
      <li class="list-social">
        <div class="fb">
          <a
            routerLink="https://www.instagram.com"
            target="_blank"
            class="nav-link"
          >
            <i class="bi bi-instagram icon" style="font-size: 2rem"></i>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
