<div class="homie">
  <p>home works!</p>
  <p>Hello ...!</p>
  <p>Welcome</p>

  <button type="button" class="btn btn-primary">Primary</button>
</div>
<section class="h1c-1" id="h1">
  <div class="img1">
    <!-- <img src="../Header/Assets/images/mbr.jpg" alt="" /> -->
    <div class="container">
      <div class="contol">
        <div class="image">
          <h6 class="h6tag">Software Company</h6>
          <h1 class="h1tag">Mobile App</h1>
          <p class="ptag">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
            Accumsan porttitor egestas & nbsp;fermentum nulla.
          </p>
        </div>
        <div class="mb-button">
          <a class="mb-2" href="#">
            <button class="mb-1">Get Started</button></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
